<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div style="text-align: center;">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
    <!-- <div class="alert alert-danger" style="text-align: center;" *ngIf="error">
      <h5>{{ error }}</h5>
    </div> -->
    <app-alert
      [message]="error"
      *ngIf="error"
      (onCloseError)="closeError()"
    ></app-alert>
    <form
      (ngSubmit)="onSubmit(authForm)"
      style="margin: 10px 0;"
      #authForm="ngForm"
      *ngIf="!isLoading"
    >
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          style="margin-right: 10px;"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          {{ isLoginMode ? "Switch to Sign Up" : "Switch to Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
